{% extends "base_dashboard.html" %}

{% block content %}

{% component "page-header" %}
    {% fill "heading" %}
        <i class="bi bi-building"></i> {{clinic.name}}
    {% endfill %}
    {% fill "description" %}
        View {{clinic.name}}'s information and affiliated doctors.
        Update clinic's details using the <i class="bi bi-pencil-square"></i> button.
    {% endfill %}
    {% fill "action" %}
        <a class="btn btn-primary" style="height: fit-content" role="button" href="/clinics/{{clinic.id}}/update">
            <i class="bi bi-pencil-square"></i>
            Update
        </a>
    {% endfill %}
{% endcomponent %}

<div class="card px-4 py-2">
    <div class="col-12 my-2">
        <h5>Address</h5>
        <span><i class="bi bi-geo-alt-fill"></i> {{clinic.address}}</span>
    </div>
    <div class="col-12 my-2">
        <h5>Phone Number</h5>
        <span><i class="bi bi-telephone-fill"></i> {{clinic.phone_number}}</span>
    </div>
    <div class="col-12 my-2">
        <h5>Email Address</h5>
        <span><i class="bi bi-envelope-at-fill"></i> {{clinic.email}}</span>
    </div>
</div>

<h4 class="my-4">Affiliated Doctors</h4>
<div class="row">
    {% for doctor in doctors %}
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            {% component "clinic-doctor-card" doctor="{{doctor}}" clinic="{{clinic}}" / %}
        </div>
    {% endfor %}
</div>

{% endblock %}
