{% extends "base_auth.html" %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center vh-100">
        <form class="card w-50 p-4" method="POST">
            <h5 class="card-title text-center">
                <i class="bi bi-emoji-smile-fill"></i>
                Bright Smile Dental Systems Login
            </h5>
            <div class="card-text">
                {% csrf_token %}
                <div class="my-4">
                    <label class="form-label d-flex justify-content-between">
                        Username
                        <span class="text-danger">*required</span>
                    </label>
                    <input name="username" type="text" class="form-control" placeholder="Enter your username" required />
                </div>
                <div class="my-4">
                    <label class="form-label d-flex justify-content-between">
                        Password
                        <span class="text-danger">*required</span>
                    </label>
                    <input name="password" type="password" class="form-control" placeholder="Enter your password" required />
                </div>
            </div>
            <button type="submit" class="btn btn-primary">
                <i class="bi bi-box-arrow-in-right"></i>
                Login
            </button>
        </form>
    </div>
{% endblock %}