{% extends "base_dashboard.html" %}

{% block content %}

{% component "page-header" %}
    {% fill "heading" %}
        <i class="bi bi-person-hearts"></i> {{patient.name}}
    {% endfill %}
    {% fill "description" %}
        View {{patient.name}}'s information and appointments.
        Update patient's details using the <i class="bi bi-pencil-square"></i> button.
    {% endfill %}
    {% fill "action" %}
        <a class="btn btn-primary" style="height: fit-content" role="button" href="/patients/{{patient.id}}/update">
            <i class="bi bi-pencil-square"></i>
            Update
        </a>
    {% endfill %}
{% endcomponent %}

<div data-id="{{patient.id}}" id="patient-details" class="card px-4 py-2">
    <div class="col-12 my-2">
        <h5>Date of Birth</h5>
        <span><i class="bi bi-cake2-fill"></i> {{patient.dob}}</span>
    </div>
    <div class="col-12 my-2">
        <h5>Gender</h5>
        <span>
            {% if patient.gender == 'M' %}
                <i class="bi bi-gender-male"></i> Male
            {% endif %}
            {% if patient.gender == 'F' %}
                <i class="bi bi-gender-female"></i> Female
            {% endif %}
            {% if patient.gender == 'O' %}
                <i class="bi bi-gender-ambiguous"></i> Other
            {% endif %}
        </span>
    </div>
    <div class="col-12 my-2">
        <h5>SSN</h5>
        <span><i class="bi bi-person-vcard"></i> ***-**-{{patient.ssn}}</span>
    </div>
    <div class="col-12 my-2">
        <h5>Address</h5>
        <span><i class="bi bi-geo-alt-fill"></i> {{patient.address}}</span>
    </div>
    <div class="col-12 my-2">
        <h5>Phone Number</h5>
        <span><i class="bi bi-telephone-fill"></i> {{patient.phone_number}}</span>
    </div>
    <div class="col-12 my-2">
        <h5>Email Address</h5>
        <span><i class="bi bi-envelope-at-fill"></i> {{patient.email}}</span>
    </div>
</div>

{% if next_appointment %}
    <div class="alert alert-success my-4">
        <h4 class="alert-heading">Upcoming Visit on {{next_appointment.date}}</h4>
        <div class="card-text d-flex flex-column">
            <div class="my-1">
                <i class="bi bi-clock"></i>
                {{next_appointment.start_time}} - {{next_appointment.end_time}}
            </div>
            <div class="my-1">
                <i class="bi bi-person-lines-fill"></i>
                <a class="link link-primary" href="/doctors/{{next_appointment.doctor_id.id}}">
                    {{next_appointment.doctor_id.name}}
                </a>
            </div>
            <div class="my-1">
                <i class="bi bi-building"></i>
                <a class="link link-primary" href="/clinics/{{next_appointment.clinic_id.id}}">
                    {{next_appointment.clinic_id.name}}
                </a>
            </div>
            <div class="my-1">
                <i class="bi bi-pen-fill"></i>
                {{next_appointment_procedures}}
            </div>
            <div class="my-1">
                <i class="bi bi-clock"></i>
                Booked on {{next_appointment.created_at}}
            </div>
        </div>
    </div>
{% else %}
    <div class="alert alert-warning my-4">
        No upcoming visit found for {{patient.name}}.
    </div>
{% endif %}

<div class="my-4 d-flex justify-content-between align-items-center">
    <h4>All visits</h4>
    <a class="btn btn-secondary" href="/patients/{{patient.id}}/schedule">
        <i class="bi bi-calendar-plus"></i>
        Schedule
    </a>
</div>
<div class="row">
    {% for appointment in appointments.reverse %}
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            {% component "patient-appointment-card" appointment="{{appointment}}" / %}
        </div>
    {% endfor %}
</div>

{% endblock %}
